@model ForumDemo.ViewModels.Main.TopicViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/topic.css" />
}

@{
    ViewData["Title"] = Model.Topic.Title;

    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
}

<div class="topic-header">
    <h1 class="topic-header-title">@Model.Topic.Title</h1>
    <h3 class="topic-header-description">@Model.Topic.Description</h3>
</div>

<div class="topic-button-menu">
    <ul class="topic-button-list">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="topic-button-container">
                <a class="topic-button-reply" asp-controller="Home" asp-action="Reply" asp-route-id="@Model.Topic.Id">Reply</a>
            </li>
        }
    </ul>
</div>

<ul class="topic-pagination-list">
    @* Show "go to first page" button if there is a previous page *@

    @if (Model.Posts.HasPreviousPage == true)
    {
        <li class="topic-pagination-button">
            <a asp-action="Topic"
               asp-route-id="@Model.Topic.Id"
               asp-route-page="1">
                &lt;&lt;
            </a>
        </li>
    }

    @* Show "go to previous page" button if there is a previous page *@

    @if (Model.Posts.HasPreviousPage == true)
    {
        <li class="topic-pagination-button">
            <a asp-action="Topic"
               asp-route-id="@Model.Topic.Id"
               asp-route-page="@(Model.Posts.PageIndex - 1)">
                Previous
            </a>
        </li>
    }

    @* Show up to 5 buttons for previous pages *@

    @for (int previous_page_button = 5; previous_page_button >= 1; previous_page_button--)
    {
        if (Model.Posts.PageIndex - previous_page_button >= 1)
        {
            <li class="topic-pagination-button">
                <a asp-action="Topic"
                   asp-route-id="@Model.Topic.Id"
                   asp-route-page="@(Model.Posts.PageIndex - previous_page_button)">
                    @(Model.Posts.PageIndex - previous_page_button)
                </a>
            </li>
        }
    }

    @* Show the current page button *@

    <li class="topic-pagination-button">
        <a class="current-page"
           asp-action="Topic"
           asp-route-id="@Model.Topic.Id"
           asp-route-page="@Model.Posts.PageIndex">
            @Model.Posts.PageIndex
        </a>
    </li>

    @* Show up to 5 buttons for next pages *@

    @for (int next_page_button = 1; next_page_button <= 5; next_page_button++)
    {
        if (Model.Posts.PageIndex + next_page_button <= Model.Posts.TotalPages)
        {
            <li class="topic-pagination-button">
                <a asp-action="Topic"
                   asp-route-id="@Model.Topic.Id"
                   asp-route-page="@(Model.Posts.PageIndex + next_page_button)">
                    @(Model.Posts.PageIndex + next_page_button)
                </a>
            </li>
        }
        else { break; }
    }

    @* Show "go to next page" button if there is a next page *@

    @if (Model.Posts.HasNextPage == true)
    {
        <li class="topic-pagination-button">
            <a asp-action="Topic"
               asp-route-id="@Model.Topic.Id"
               asp-route-page="@(Model.Posts.PageIndex + 1)">
                Next
            </a>
        </li>
    }

    @* Show "go to last page" button if there is a next page *@

    @if (Model.Posts.HasNextPage == true)
    {
        <li class="topic-pagination-button">
            <a asp-action="Topic"
               asp-route-id="@Model.Topic.Id"
               asp-route-page="@Model.Posts.TotalPages">
                &gt;&gt;
            </a>
        </li>
    }
</ul>

<div class="posts-container">
    @foreach (var post in Model.Topic.Posts)
    {
        <div class="post">
            <div class="post-authorpanel">
                <h3 class="post-author-username">@post.User.UserName</h3>
                <ul class="post-author-info">
                    <li class="post-author-info-postcounter">Posts: @post.User.PostCounter</li>
                </ul>
            </div>
            <div class="post-contentscolumn">
                <div class="post-creationdate">
                    @post.Created
                </div>
                <div class="post-contents">
                    @post.Contents
                </div>
                <div class="post-footer">
                    @if (User.Identity.IsAuthenticated && post.User.UserName == User.Identity.Name)
                    {
                        <a class="post-footer-button" asp-controller="Home" asp-action="EditPost" asp-route-id="@post.Id">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
