@model ForumDemo.ViewModels.Main.TopicViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/topic.css" />
}

@{
    ViewData["Title"] = Model.Topic.Title;

    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
}

<div class="topic-header">
    <h1 class="topic-header-title">@Model.Topic.Title</h1>
    <h3 class="topic-header-description">@Model.Topic.Description</h3>
    <p class="topic-header-info">Created by @Model.Topic.User.UserName, @Model.Topic.Created in @Model.Topic.Forum.Title</p>
</div>

<div class="topic-button-menu">
    <ul class="topic-button-list">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="topic-button-container">
                <a class="topic-button-reply" asp-controller="Home" asp-action="Reply" asp-route-id="@Model.Topic.Id">Reply</a>
            </li>
        }
    </ul>
</div>

@{
    await Html.RenderPartialAsync("_PostPagination", Model);
}

<div class="posts-container">
    @foreach (var post in Model.Topic.Posts)
    {
        <div class="post">
            <div class="post-authorpanel">
                <h3 class="post-author-username">@post.User.UserName</h3>
                <ul class="post-author-info">
                    <li class="post-author-info-postcounter">Posts: @post.User.PostCounter</li>
                </ul>
            </div>
            <div class="post-contentscolumn">
                <div class="post-creationdate">
                    @post.Created
                </div>
                <div class="post-contents">
                    @post.Contents
                </div>
                <div class="post-footer">
                    @if (User.Identity.IsAuthenticated && post.User.UserName == User.Identity.Name)
                    {
                        <a class="post-footer-button" asp-controller="Home" asp-action="EditPost" asp-route-id="@post.Id">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@{
    await Html.RenderPartialAsync("_PostPagination", Model);
}
