@model ForumDemo.ViewModels.Main.TopicViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/topic.css" />
}

@{
    ViewData["Title"] = Model.Topic.Title;
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Home" asp-action="Reply" asp-route-id="@Model.Topic.Id">Reply</a>
}

<div class="posts-container">
    @foreach (var post in Model.Topic.Posts)
    {
        <div class="post">
            <div class="post-authorpanel">
                <h3 class="post-author-username">@post.User.UserName</h3>
                <ul class="post-author-info">
                    <li class="post-author-info-postcounter">Posts: @post.User.PostCounter</li>
                </ul>
            </div>
            <div class="post-contentscolumn">
                <div class="post-creationdate">
                    @post.Created
                </div>
                <div class="post-contents">
                    @post.Contents
                </div>
                <div class="post-footer">
                    @if (User.Identity.IsAuthenticated && post.User.UserName == User.Identity.Name)
                    {
                        <a asp-controller="Home" asp-action="EditPost" asp-route-id="@post.Id">Edit</a>
                    }
                </div>
            </div>
        </div>
    }
</div>